<div class="wrap d-flex flex-column justify-content-center align-items-center mt-2">
  <label style="font-weight: 600; font-size:20px;">Success! Please use this link:</label>
  <div class="copyShortenURL mt-2 mb-2">
    <input type="text" id="shorten-URL" value="{{shortName}}" size="27" class="mb-3 text-center" readonly>
    <button id="copy-button" class="btn btn-dark mx-3">Copy</button>
  </div> 
  <a href="/" style="text-decoration:none; color:#011F26; font-weight:700;">Back</a>
</div>



<script type="text/javascript">
  const theShortenURL = document.getElementById("shorten-URL")
  const btnCopy = document.getElementById("copy-button")

  btnCopy.onclick = function () {
    // Select the text
    theShortenURL.select()

    // Copy the text
    document.execCommand("Copy")
    
    alert('Copied!')

  }
</script>